<div class="container p-3">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Duplas</h2>
    <button class="btn btn-primary btn-sm" routerLink="/duplas/dupla-nova">
      <i class="fa fa-plus"></i>
      <span> Nova Dupla</span>
    </button>
  </div>
  <ul class="list-group mt-3">
    <li
      *ngFor="let dupla of DUPLAS_IDS; let i = index"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div class="dupla-cor me-3" [ngClass]="dupla.cor"></div>
        <span *ngFor="let participante of DUPLAS[i].nomes" class="btn">{{
          participante.nome
        }}</span>
      </div>
      <button class="btn btn-danger btn-sm" (click)="deleteDupla(dupla.id)">
        <i class="fa fa-trash"></i>
      </button>
    </li>
  </ul>
</div>
