<section
  class="layout-menu bg-light pt-3"
  [ngClass]="isOpen ? 'is-open' : 'is-close'"
>
  <section class="pages d-grid gap-2 container">
    <button
      class="btn text-white text-start"
      [ngClass]="
        menuSelecionado === '/participantes' ? 'btn-primary' : 'btn-secondary'
      "
      routerLink="/participantes"
    >
      <i class="fa fa-user" aria-hidden="true"></i>
      <span>Participantes</span>
    </button>
    <button
      class="btn text-white text-start"
      [ngClass]="
        menuSelecionado === '/duplas' ? 'btn-primary' : 'btn-secondary'
      "
      routerLink="/duplas"
    >
      <i class="fa fa-users" aria-hidden="true"></i>
      <span>Duplas</span>
    </button>
    <button
      class="btn text-white text-start"
      [ngClass]="
        menuSelecionado === '/partidas' ? 'btn-primary' : 'btn-secondary'
      "
      routerLink="/partidas"
    >
      <i class="fa fa-product-hunt" aria-hidden="true"></i>
      <span>Partidas</span>
    </button>
    <button
      class="btn text-white text-start"
      [ngClass]="
        menuSelecionado === '/tabelas' ? 'btn-primary' : 'btn-secondary'
      "
      routerLink="/tabelas"
    >
      <i class="fa fa-trophy" aria-hidden="true"></i>
      <span>Tabelas</span>
    </button>
  </section>
</section>
